
# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo


# Virtual environment
.venv
.env
.volumes/*
.log/*
instance
testing_images/ 


.env*
.flaskenv*
!.env.project
!.env.vault
notes.cmd
pgdata/
check_db.py
test_api.py
sql.sql
.vscode/